app-human {
    display: inline-block;
    width: 300px
}
app-saiyan {
    display: inline-block;
    width: 300px
}

app-super-saiyan {
    display: inline-block;
    width: 300px
}

app-super-saiyantwo {
    display: inline-block;
    width: 300px
}

app-super-saiyanthree {
    display: inline-block;
    width: 300px
}

app-super-saiyanfour {
    display: inline-block;
    width: 300px
}